@import url("https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/fonts.css");
@import "tailwindcss";

:root{
    --transition-duration: 200ms;
    --contrast-colour: #0F172A;
    --contrast-light: #334155;
}

*{
    transition: ease-in-out 100ms;
    user-select: none;
}

html,body {
    padding:0;
    margin:0;
    height: 100%;

}

h1{
    font-size:3em;
}